[submodule "Dependencies/CoreDataStack"]
	path = Dependencies/CoreDataStack
	url = https://github.com/ashevin/CoreDataStack.git
[submodule "Dependencies/kin-core-ios"]
	path = Dependencies/kin-core-ios
	url = https://github.com/kinecosystem/kin-core-ios.git
